# **Data Exploration**

Our sample of data  is from a Portuguese banking institution. In our data set we have information on each customer's educational status, marital status, job, whether they have a housing loan or a personal loan, if they default on thier credit. It also includes contact frequency information regarding when they were contacted by the bank such as their last contact day and month, how they were contacted, how long did their contact last(in seconds), as well as the amount of days that have passed since their last contact.

To explore the data **df.corr()** was used to see the correlation coefficients of each of the columns. We found that almost all columns, with the exception of Previous (the number of contacts before this specific campaign) and Pdays (the number of days that have passed since the last contact) with a r value of -0.590070, were weak.

In [2]:
cleandf.corr()

               age  duration  campaign     pdays  previous
age       1.000000  0.005710 -0.003322 -0.051352  0.048255
duration  0.005710  1.000000 -0.072338 -0.045806  0.020937
campaign -0.003322 -0.072338  1.000000  0.054767 -0.079834
pdays    -0.051352 -0.045806  0.054767  1.000000 -0.590070
previous  0.048255  0.020937 -0.079834 -0.590070  1.000000

# **Data Cleanup**

To clean our dataset we took out the "unkown" data from our columns. The columns that contained an "unknown" were: job, marital, education, default, housing, and loan. This brought the dataset from 32950 rows to 24305. 
This way we didn't remove any rows from our original dataset but instead made new a dataframe to contain the informaiton we wanted.

In [1]:
import pandas as pd
bankdf = pd.read_csv("new_train.csv")
uRows = bankdf.loc[bankdf['job'] != 'unknown']
uRows1 = uRows.loc[uRows['marital'] != 'unknown']
uRows2 = uRows1.loc[uRows1['education'] != 'unknown']
uRows3 = uRows2.loc[uRows2['default'] != 'unknown']
uRows4 = uRows3.loc[uRows3['housing'] != 'unknown']
cleandf = uRows4.loc[uRows4['loan']   != 'unknown']
cleandf.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
1,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,no
2,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,yes
3,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,no
4,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,no
5,29,admin.,single,university.degree,no,no,no,cellular,aug,wed,256,2,999,0,nonexistent,no